/*-----------------calculator------------------*/
.img-box-calculator {
    background: url("../../assets/imgs/calculatorBgImg.png") no-repeat center;
    background-size: cover;
}

.calculator-table-selection {
    background-color: #03ffa4;
}

.el-select .el-input .el-input__icon {
    color: #03ffa4;
}

.calculator-table {
    border-color: #03ffa4;
    color: #ffffff;
}


