@media only screen and (min-width: 0px) and (max-width: 480px) {
    .img-box-home1 {
        background: url("../../assets/imgs/home1.png") no-repeat center;
        background-size: cover;
    }
}

@media only screen and (min-width: 481px) and (max-width: 612px) {
    .img-box-home1 {
        background: url("../../assets/imgs/home1.png") no-repeat center;
        background-size: cover;
    }
}

@media only screen and (min-width: 613px) and (max-width: 1024px) {
    .img-box-home1 {
        background: url("../../assets/imgs/home1.png") no-repeat center;
        background-size: contain;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 3500px) {
    .img-box-home1 {
        background: url("../../assets/imgs/home1.png") no-repeat center;
        background-size: contain;
    }
}

.img-box-home2 {
    background: url("../../assets/imgs/home2.png") no-repeat center;
    background-size: cover;
}

.img-box-home3 {
    background-color: black;
    background-size: cover;
}

.img-box-home4 {
    background: url("../../assets/imgs/home4.png") no-repeat center;
    background-size: cover;
}

.img-box-home4-left {
    background: url("../../assets/imgs/homr4-left.png") no-repeat right;
    background-size: cover;
}

.img-box-home4-right {
    background: url("../../assets/imgs/homr4-right.png") no-repeat left;
    background-size: cover;
}

.img-box-home5 {
    background: url("../../assets/imgs/home5_1.png") no-repeat center;
    background-size: cover;
}

.img-box-home6 {
    background: url("../../assets/imgs/home6.png") no-repeat center;
    background-size: cover;
}

.img-box-home7 {
    background-color: #33454d;
    background-size: cover;
}

.img-box-home8 {
    background: url("../../assets/imgs/home8.png") no-repeat center;
    background-size: cover;
}

@media only screen and (min-width: 0px) and (max-width: 541px) {
    .home5-col {
        width: 240px !important;
        margin: 15px !important;
    }
}

@media only screen and (min-width: 542px) and (max-width: 782px) {
    .home5-col {
        width: 41% !important;
        margin: 45px !important;
    }
}

@media only screen and (min-width: 783px) and (max-width: 3500px) {
    .home5-col {
        width: 22% !important;
        margin: 20px !important;
    }
}

/*  home 2 buttons */
@media only screen and (min-width: 0px) and (max-width: 635px) {
    .home2-btn {
        width: 36vw !important;
        height: 9vw !important;
        font-size: 2.5vw !important;
    }

    .home2-btn img {
        width: 6.5vw;
    }

    .btn-start-now {
        width: 34vw !important;
        height: 12vw;
        font-size: 3.5vw;
    }

}

@media only screen and (min-width: 636px) and (max-width: 3500px) {
    .home2-btn {
        width: 228px !important;
        height: 50px !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 612px) {
    .home6-margin {
        margin: 4% 1% 8% -16% !important;
    }
    .home6-btn {
        margin-left: 10% !important;
    }
}

@media only screen and (min-width: 613px) and (max-width: 3500px) {
    .home6-margin {
        margin: 4% 12% 8% 12% !important;
    }

    .home6-btn {
        margin-left: 10% !important;
    }
}

.img-box-home9 {
    background: url("../../assets/imgs/home9.png") no-repeat center;
    background-size: cover;
}

.img-box-home3 .carousel-control-prev {
    font-size: 3vw;
    margin-left: -5vw;

}
.img-box-home3 .carousel-control-prev :hover {
     color: #03ffa4;
 }

.img-box-home3 .carousel-control-next {
    font-size: 3vw;
    margin-right: -5vw;

}
.img-box-home3 .carousel-control-next :hover {
    color: #03ffa4;
}